src/conf/xml-resources/web-service-references/WsClient_1/wsdl/localhost_8733/Design_Time_Addresses/StockAnalysis_WCF/Service1/.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockAnalysis_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/StockAnalysis_WCF"><xs:complexType name="ArrayOfActionStock"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="ActionStock" nillable="true" type="tns:ActionStock"/></xs:sequence></xs:complexType><xs:element name="ArrayOfActionStock" nillable="true" type="tns:ArrayOfActionStock"/><xs:complexType name="ActionStock"><xs:sequence><xs:element minOccurs="0" name="Code" type="xs:int"/><xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Quantite" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="ActionStock" nillable="true" type="tns:ActionStock"/><xs:complexType name="ArrayOfCotisation"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Cotisation" nillable="true" type="tns:Cotisation"/></xs:sequence></xs:complexType><xs:element name="ArrayOfCotisation" nillable="true" type="tns:ArrayOfCotisation"/><xs:complexType name="Cotisation"><xs:sequence><xs:element minOccurs="0" name="CodeAction" type="xs:int"/><xs:element minOccurs="0" name="DateCotisation" type="xs:dateTime"/><xs:element minOccurs="0" name="Fermeture" type="xs:decimal"/><xs:element minOccurs="0" name="Id" type="xs:int"/><xs:element minOccurs="0" name="MaxVal" type="xs:decimal"/><xs:element minOccurs="0" name="MinVal" type="xs:decimal"/><xs:element minOccurs="0" name="Ouverture" type="xs:decimal"/><xs:element minOccurs="0" name="VolFinance" type="xs:decimal"/><xs:element minOccurs="0" name="VolQnt" type="xs:decimal"/></xs:sequence></xs:complexType><xs:element name="Cotisation" nillable="true" type="tns:Cotisation"/></xs:schema>