src/conf/xml-resources/web-service-references/WsClient/wsdl/localhost_8733/Design_Time_Addresses/StockAnalysis_WCF/Service1/.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/StockAnalysis_WCF/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockAnalysis_WCF"/><xs:element name="GetAllActions"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllActionsResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllActionsResult" nillable="true" type="q1:ArrayOfActionStock" xmlns:q1="http://schemas.datacontract.org/2004/07/StockAnalysis_WCF"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllCotisations"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllCotisationsResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllCotisationsResult" nillable="true" type="q2:ArrayOfCotisation" xmlns:q2="http://schemas.datacontract.org/2004/07/StockAnalysis_WCF"/></xs:sequence></xs:complexType></xs:element></xs:schema>